@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('#{$fontsPath}/Acumin-RPro.woff') format('woff');
}
    
@font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('#{$fontsPath}/Acumin-BdPro.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('#{$fontsPath}/HelveticaNeue-Medium.woff') format('woff');
}
    
@font-face {
    font-family: 'Thunder Demo';
    font-style: normal;
    font-weight: normal;
    src: local('Thunder Demo'), url('#{$fontsPath}/ThunderDemo.ttf') format('woff');
}