$assetsPath: '/public/assets';
$fontsPath: '#{$assetsPath}/fonts';
$imagesPath: '#{$assetsPath}/img';

$white: #fff;

$main-font: 'Helvetica Neue';
$defailt-fonts: '-apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif';