@import '../../common/scss/variables';

.search-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .search-input-wrapper {
        width: 100%;
        margin: 6px 10px 6px;
        position: relative;
        border-radius: 10px;
        transition: background-color 1s;

        @media screen and (max-width: 575px) {
            margin-top: 1rem;
            margin-right: auto;
        }

        #site-search {
            width: 100%; 
            border: none;
            padding: 0;
            line-height: 1rem;
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: transparent;
            transition: max-width 1s, border 1s;
            outline: none;
        }

        .search-icon {
            flex: 0 0 auto;
            display: inline-block;
            height: 22px;
            width: 20px;
            background: url('#{$imagesPath}/search.png') center/cover;
        }

        .search-icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.react-selectize {
    &.root-node {
        width: 100%;
    }

    .react-selectize-placeholder {
        line-height: 2.4rem !important;
    }

    .react-selectize-control {
        cursor: text !important;
        border-radius: 4px !important;
        background-color: #000 !important;
        border: none !important;
        height: 100%;
        font-size: .5rem;

        .react-selectize-search-field-and-selected-values {
            margin-right: 2.2rem;
            max-width: 100%;
            overflow: hidden;
        }
    }

    .react-selectize-reset-button-container,
    .react-selectize-toggle-button-container {
        display: none !important;
    }

    .dropdown-menu {
        display: none;
    }

    .value-wrapper {
        position: relative;
        cursor: default;
        
        .simple-value {
            padding-right: 1rem;
        }
        .value-text {
            color: #000;
            font-size: .9rem;
            line-height: .9rem;
        }
        .value-remove {
            width: 12px;
            height: 12px;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &:before, &:after {
                background-color: #000;
                height: 12px;
            }
        }
    }
}

.footer-full {
    @media screen and (max-width: 575px) {
        .search-wrapper {
            .search-input-wrapper {
                margin: 0;
            }
        }

        .react-selectize {
            .react-selectize-control {
                background-color: #151515 !important;
            }
        }
    }
}