@import '../../common/scss/variables';

.search-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .search-input-wrapper {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 6px 10px 6px;
        max-width: 200px;
        margin-left: auto;
        position: relative;
        border-radius: 10px;
        transition: background-color 1s;

        @media screen and (max-width: 575px) {
            margin-top: 1rem;
            margin-right: auto;
        }

        &.active {
            background-color: #000;

            #site-search {
                max-width: 100%;
                padding: 0 10px 0 4px;
            }

            .search-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        #site-search {
            flex: 0 0 auto;
            border: none;
            padding: 0;
            max-width: 0;
            line-height: 1rem;
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: transparent;
            transition: max-width 1s, border 1s;
            outline: none;
        }

        .search-icon {
            flex: 0 0 auto;
            display: inline-block;
            height: 22px;
            width: 20px;
            background: url('#{$imagesPath}/search.png') center/cover;
            cursor: pointer;
        }
    }
}