.close-icon {
    position: absolute;
    right: -5px;
    top: 0;
    width: 4px;
    height: 4px;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 50%;
        content: ' ';
        height: 5px;
        width: 1px;
        background-color: #fff;
        transform: translateX(-50%);
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}