footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    min-height: 4rem;
    background-color: #151515;
    padding: 15px 0;
    z-index: 10;
    
    .support-mail-wrapper {
        width: 100%;
        text-align: right;

        @media screen and (min-width: 768px) {
            padding-right: 1.85rem;
        }

        .support-mail {
            text-decoration: none;
            font-size: .7rem;
            color: #A4A4A4;
        }
    }
}

.footer-overlay {
    min-height: 4rem;

    @media screen and (max-width: 991px) {
        min-height: 8.1rem;
    }
}