@import '../../common/scss/variables';

.video-detail-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5.2rem;

    .video-detail-poster-wrapper {
        position: relative;
        height: auto;
        flex: 1 1 auto;

        .similar-videos-wrapper {
            position: absolute;
            max-height: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            background-color: white;
            transition: max-height .5s ease-in-out, padding .5s ease-in-out;
            overflow: hidden;
            z-index: 3;


            &.active {
                max-height: 100%;
                padding: .9rem 0;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }

            .similar-video-wrapper:hover {
                .video-poster-wrapper {
                    box-shadow: none;
                }
            }

            .list-control-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;

                .arrow-button {
                    box-shadow: 0 0 10px rgba(0, 0, 0, .16);

                    &.back-button {
                        left: 1rem;
                        right: auto;
                    }
        
                    &.next-button {
                        left: auto;
                        right: 1rem;
                    }
                }
            }
            
            .videos-list-wrapper {
                min-height: 0;

                .videos-row {
                    margin-left: 0;
                    margin-right: 0;
                    flex-wrap: nowrap;
                    overflow: auto;

                    .video-col {
                        margin-bottom: 0;
    
                        .video-wrapper {
                            padding: 0;

                            .video-poster-wrapper {
                                padding-bottom: 62%;
                            }
                        }
                    }
                }
            }
        }

        .video-wrapper {
            .video-react {
                position: absolute;
                padding-top: 0 !important;
                height: 100%;

                .video-react-big-play-button {
                    display: none;
                }

                .video-react-poster {
                    background-size: cover;
                }

                .video-react-control-bar {
                    z-index: 1;
                }
            }

            &.paused {
                .video-react {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: rgba(0,0,0,.16);
                    }
                }
            }
        }

        .short-info-block {
            height: 100%;
            z-index: 5;

            .container {
                position: relative;
                height: 100%;
            }

            .info-text {
                position: absolute;
                top: 47%;
                transform: translateY(-50%);
                max-width: 25vw;
                padding-left: 2rem;

                @media screen and (max-width: 767px) {
                    transform: none;
                    width: 100%;
                    max-width: 100%;
                    top: 9.5rem;
                    left: 0;
                    padding: 0 3.5rem;
                }

                @media screen and (max-width: 575px) {
                    .info-description {
                        padding-left: .5rem;
                    }
                }

                .info-title {
                    display: inline-block;
                    font-family: 'Acumin Pro Bold';
                    font-size: 2.3rem;
                    line-height: 2.3rem;
                    letter-spacing: -.02rem;
                    width: 100%;
                    margin: 0 0 .2rem;
                }

                .info-description {
                    display: inline-block;
                    line-height: 2.2rem;
                }
            }

        }

        .actions-block {
            z-index: 5;

            .back-button {
                top: 44%;

                @media screen and (max-width: 575px) { 
                    top: 50%;
                    left: .5rem;
                }
            }

            .play-video-button {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: absolute;
                left: 48%;
                top: 48%;
                cursor: pointer;
                transform: translate(-50%, -50%);

                .play-text {
                    display: inline-block;
                    font-size: 1.1rem;
                    letter-spacing: 0.06rem;
                    font-weight: bold;
                    margin-left: 1rem;
                    color: #fff;
                }

                @media screen and (max-width: 575px) {
                    left: 3.5rem;
                    top: 5rem;

                    transform: none;
                }
            }
        }
    }

    .video-detail-info-wrapper {
        padding: 1.4rem 0 1.9rem;
        background-color: #fff;
        border: 1px solid #F2ECEC;
        flex: 0 0 auto;

        @media screen and (max-width: 767px) {
            padding-bottom: 8rem;
        }

        .info-section {
            display: flex;
            height: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            &.info-quality, &.info-actors {
                @media screen and (max-width: 767px) {
                    margin-top: 1.2rem;
                }
            }

            &.info-full-description {
                .info-content {
                    font-size: 0.55rem;
                    line-height: 0.9rem;
    
                    @media screen and (min-width: 1200px) {
                        padding-right: 5rem;
                    }

                    @media screen and (max-width: 575px) {
                        font-size: 0.65rem;
                        line-height: 1rem;
                    }
                }
            }
        }

        .info-heading {
            display: inline-block;
            width: 100%;
            font-family: 'Acumin Pro';
            line-height: .5rem; 
            font-size: 0.5rem;
            margin: 0 0 .2rem;
            color: #A4A4A4;
        }

        .info-content {
            display: inline-block;
            color: #000;
            font-size: 0.85rem;
            font-weight: normal;
            line-height: 1.3rem;

            max-height: 5rem;
            overflow: auto;

            &.big {
                font-family: 'Acumin Pro Bold';
                font-size: 2.1rem;
                line-height: 2rem;
                letter-spacing: -1px;
                align-self: flex-end;

                &.actors {
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    padding-bottom: 0.3rem;
                }

                @media screen and (max-width: 450px) {
                    font-size: 1.4rem;
                    line-height: 1.3rem;

                    &.actors {
                        padding-bottom: 0;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

.arrow-button {
    position: absolute;
    left: 2.5rem;
    top: 50%;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transform: translateY(-50%);
    background: url('#{$imagesPath}/left-arrow.svg') #fff center/1.4rem no-repeat;

    &.next-button {
        transform: translateY(-50%) rotate(180deg);
    }
}

.relative-container {
    position: relative;
}