.header-navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    margin-left: .4rem;

    @media screen and (max-width: 767px) {
        display: none;
    }

    .navigation-link-wrapper {
        display: inline-block;

        a {
            color: #00C0FB;
            font-size: 0.9rem;
            font-weight: bold;
            text-decoration: none;
        }
    }
}