@import '../../common/scss/variables';

.filters-list-wrapper {
    width: 100%;
    height: 100%;
    $font-size: .6rem;

    .filter-heading {
        display: inline-block;
        color: #00C0FB;
        font-size: $font-size;
        margin-right: 2.5rem;
    }

    &.loading {
        &:before {
            background-color: #151515;
        }

        &:after {
            width: 2rem;
            height: 2rem;
            max-height: 150%;
            border-width: 0.2rem;
        }
    }

    .filter-wrapper {
        display: inline-block;
        margin-right: 1rem;

        @media screen and (max-width: 767px) {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .filter-title {
            display: inline-block;
            text-transform: lowercase;
            font-size: $font-size;
            margin-right: .5rem;
        }

        .filter-select-wrapper {
            display: inline-block;
            position: relative;

            .active-filter-label {
                position: relative;
                display: none;
            }
        
            .filter-select {
                display: inline-block;
                outline: none;
                max-width: 100%;
                padding: 0px 18px 0px 5px;
                border: none;
                font-size: $font-size;
                color: #ccc;
                height: 34px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url('#{$imagesPath}/down-arrow.svg') 96% / .6rem no-repeat;

                &::-ms-expand {
                    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
                }
            }

            &.active {
                .filter-select {
                    visibility: hidden;
                }

                .active-filter-label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    font-size: $font-size;
                }
            }
        }
    }

    .current-search-wrapper {
        display: inline-block;
        padding: 0px 18px 0px 5px;

        .divider {
            font-size: $font-size;
            margin-left: 20px;
            color: #A4A4A4;
        }

        .active-filter-label {
            font-size: $font-size;
            margin-right: 30px;
        }

        .current-search-string {
            font-size: $font-size;
        }
    }
}