@import '../../common/scss/variables';

.videos-list-wrapper {
    min-height: 20rem;
    $wrapper-padding: 1.8rem;

    .video-col {
        margin-bottom: 4rem;
    }

    @media screen and (min-width: 650px) {
        .videos-row {
            margin-left: calc( -15px - #{$wrapper-padding} );
            margin-right: calc( -15px - #{$wrapper-padding} );
        }
    }

    .no-videos-found {
        margin: 0 auto;

        .no-videos-image {
            padding-bottom: 27vh;
            background: url('#{$imagesPath}/cherry.svg') left/contain no-repeat;
        }

        .no-videos-text {
            h2 {
                margin-bottom: 0;
                width: 100%;
            }
        }
    }

    .video-wrapper {
        padding: 0;

        @media screen and (min-width: 650px) {
            padding: 0 $wrapper-padding;
        }

        a:hover {
            .video-poster-wrapper {
                box-shadow: 0 0 0 2px #00C0FB;
            }
        }

        .video-poster-wrapper {
            position: relative;
            padding-bottom: 100%;
            border-radius: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #191919;
            cursor: pointer;

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .video-info {
            margin-top: 2.6rem;
            cursor: pointer;

            .video-title, .video-description {
                display: inline-block;
                width: 100%;
            }

            .video-title {
                margin: 0;
                font-size: .95rem;
                line-height: 1rem;
                font-weight: normal;
                text-transform: capitalize;
            }

            .video-description {
                color: #BEBEBE;
                font-size: .8rem;
                line-height: 1.5rem;
            }
        }
    }
}

.play-button {
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    max-width: 100%;
    max-height: 100%;
    background: url('/public/assets/img/play-button.svg') center/cover no-repeat;
    box-shadow: 0 0 33px rgba(0, 0, 0, .7);
    overflow: visible;
    z-index: 2;
}