/* Loading spinner inline styles for asap loading */
body {
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body.loading:before, body.loading:after {
    position: fixed;
    z-index: -1;
}
.loading {
    position: relative;
}
.loading:before, .loading:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: opacity .5s;
}
.loading:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
}
body.loading:after {
    width: 30vmin;
    height: 30vmin;
    max-width: 10rem;
    max-height: 10rem;
}
.loading:after {
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    max-width: 100%;
    max-height: 100%;
    margin: 1px;
    border-radius: 50%;
    background-color: #00C0FB;
    transform: translate(-50%, -50%);
    animation: sk-scaleout 1.0s infinite ease-in-out;
    animation-play-state: paused;
}
body.loading.active {
    overflow: hidden;
}
.loading.active:after {
    animation-play-state: running;
}
.loading.active:before, .loading.active:after {
    z-index: 3;
    opacity: 1;
}
body.loading.active:before, body.loading.active:after {
    z-index: 11;
}

@keyframes sk-scaleout {
    0% {
      transform: translate(-50%, -50%) scale(0);
    } 

    100% {
      transform: translate(-50%, -50%) scale(1.0);
      opacity: 0;
    }
}
