@import '../../common/scss/variables';

.page-heading-wrapper {
    margin: 3.4rem 0;

    @media screen and (max-width: 575px) {
        margin-top: 3.4rem;
    }

    .heading-title {
        color: $white;
        display: inline-block;
        font-family: 'Acumin Pro Bold';
        font-size: 7.95rem;
        line-height: 8.15rem;
        letter-spacing: -.4rem;
        margin-right: 2.5rem;
        margin-left: -.6rem;

        @media screen and (max-width: 575px) {
            font-size: 4.8rem;
            line-height: 5rem;
            margin-left: -0.3rem;
            letter-spacing: -0.2rem;
            margin-right: 0;
            max-width: 100%;
        }
    }

    .heading-description {
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.3rem;

        @media screen and (min-width: 576px) {
            max-width: 16.5rem;
        }
    }
}