@import '../../common/scss/variables';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #191919;
    padding: 25px 0;
    z-index: 10;

    .logo-wrapper {
        @media screen and (max-width: 575px) {
            text-align: center;
        }

        h1.logo {
            font-family: 'Thunder Demo';
            font-size: 2.16rem;
            line-height: 2rem;
            color: #00C0FB;
            margin: 0;
        }
    }
}

.header-overlay {
    min-height: 5.2rem;
}